body {
  height: 32.5rem;
  /* defininfo o tamanho do body*/
  margin: 0rem;
  /* definindo a margin para 0*/
  height: 100vh;
  /* Faz com que o body ocupe a tela inteira */
  background-color: var(--bg-primary);
  /*cor do body com uma variavel*/
  display: flex;
  justify-content: center;
  
}

#logo {
  display: none;
  /* Oculta por padrão */
  gap: 0.85rem;
  /* espaço entre os elementos da div */
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  padding: 0.8rem;

}

.back {
  display: flex;
  font-size: 1rem;
  gap: 0.2rem;
  margin-bottom: 1rem;
  align-items: center;
  margin-left: 2rem;
  margin-top: 4.87rem;

  .a {
    color: #CA3884;
  }

  .icon {
    width: 1.1rem;
    height: 1.1rem;
    filter: invert(34%) sepia(64%) saturate(728%) hue-rotate(280deg);

    /* invert(34%) → Inverte parcialmente as cores (34%). Isso ajuda a transformar a cor original em uma base mais próxima do tom desejado. 
  
  sepia(64%) → Dá um tom amarelado,
    ajudando a aproximar a cor da desejada. 
    
    saturate(728%) → Aumenta a saturação da cor para ficar mais intensa. 
    
    hue-rotate(310deg) → Gira a matiz da cor para chegar no tom exato de #CA3884 */
  }
}

.h2 {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-left: 3rem;
 }

.new-item {
  font-size: .9rem;
  /* Aumenta o tamanho da fonte */
  font-weight: 500;
  /* Deixa o texto em negrito (opcional) */
  display: grid;
  height: 3.5rem;
  row-gap: .7rem;
  margin: 2.75rem 2rem 2.5rem 2rem;
  

}
   
#add-item {
    width: 18rem;
    height: 2.7rem;
}

.btn {
  height: 2.7rem;
  border-radius: .3rem;
  background-color: #CA3884;
  font: var(--link);
  color: #FFFFFF;
  cursor: pointer;
}

.form {
  display: grid;
  row-gap: 1.5rem;
  
}


input {
  font: var(--label);
  border-radius: .3rem;

}

.items{
  
  display:flex ;
  justify-content: center;
  align-items:center;
  border-radius: .3rem;
}

label {
  display: flex;
  font: var(--label);
  width: 15rem;
  height: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  padding: .8rem;
  background-color: var(--always-white);
  border-radius: .5rem;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--label);
  width: 19.43rem;
  height: 2.75rem;
  margin-top: 1rem;
  border-radius: 5rem;
  transform: translateX(1rem);
  background-color: var(--color-danger);

  .icon-2{
    width: 1.4rem;
    height: 1.4rem;
    margin: .8rem;
    
    filter: invert(100%) sepia(50%) saturate(50%) hue-rotate(-10deg);
   }
  
   .delete{
    width: 1.4rem;
    height: 1.4rem;
    margin: .8rem;
    font-weight: 800;
    filter: invert(100%) sepia(50%) saturate(50%) hue-rotate(-10deg);

   }
   
}

 


/* definindo tel telas acima de 1280px (80rem)*/
@media (width >=80rem) {
  :root {

  .body {
    margin: 1rem 23.09rem 10.06rem 23.09rem;

  }

  #logo {
    display: flex;
    }
         
  .new-item {
    display: flex;
    height: 2.5rem;
    gap: 0.9rem;
    border-radius: .1rem;
    align-items: center;
    justify-content: center;
  }

  .items {
    width: 28rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(2rem); 
    }
  }

  #add-item {
    width: 19rem;
    height: 2.7rem;
  }
      
  .btn {
    width: 8rem;
  }
     
  .trash {
    display: flex;
    transform: translate(-1.5rem);   
  }
  
  label {
    min-width: 27rem;
    height: 2.5rem;
    transform: translateX(.4rem);
  }

  .checkbox{
    transform: translateX(-.2rem);
  }
    
  .remove {
    width: 30rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1.4rem;
    transform: translateX(-.4rem);

    .icon-2 {
     width:1.5rem;
     height: 1.5rem;
     transform: translateX(-5.6rem);
      
  }
    
  .delete {
     width: 1.5rem;
     height: 1.5rem;
     margin: .8rem;
     transform: translateX(4.8rem);          
   }
  }
}

